#{extends 'main.html' /}
#{set title:'Profile' /}

<nav class="ui inverted green menu">
  <a class="ui item" href="/home"><i class ="purple home icon"></i>Home</a>
  <a class="ui item" href="/members"><i class ="purple users icon"></i>Members</a>
  <a class="ui active item" href="/profile"><i class ="purple user icon"></i>Profile</a>
  <a class="ui item" href="/leaderboard"><i class ="purple trophy icon"></i>Leaderboard</a>
  <a class="ui item" href="/login"><i class ="purple sign out icon"></i>Logout</a>
</nav>

<section class="ui segment">
  <h2 class="ui header">${user.firstName} ${user.lastName}'s Profile</h2>
  <h4 class="ui header">${user.email}</h4>
  <h4 class="ui header">${user.nationality}</h4>
  <h4 class="ui header">${user.age}</h4>
</section>

<section class="ui green form segment">
  <h3 class="ui inverted green block header">Enter Details</h3>
  <form action="/editprofile/editfirstname" method="POST">
    <div class="field">
      <label>First Name</label>
      <input placeholder="First Name" type="text" name="firstName">
    </div>
    <input class="mini ui purple button" type="submit" name="submit" value="Change" />
  </form>
  <br/>
  <form action="/editprofile/editlastname" method="POST">
    <div class="field">
      <label>Last Name</label>
      <input placeholder="Last Name" type="text" name="lastName">
    </div>
    <input class="mini ui purple button" type="submit" name="submit" value="Change" />
  </form>
  <br/>
  <form action="/editprofile/editemail" method="POST">
    <div class="field">
      <label>Email</label>
      <input placeholder="Email" type="text" name="email">
    </div>
    <input class="mini ui purple button" type="submit" name="submit" value="Change" />
  </form>
  <br/>
  <form action="/editprofile/editpassword" method="POST">
    <div class="field">
      <label>Password</label>
      <input placeholder="Password" type="password" name="password">
    </div>
    <input class="mini ui purple button" type="submit" name="submit" value="Change" />
  </form>
  <br/>
  <form action="/editprofile/editnationality" method="POST">
    <div class="field">
      <label>Nationality</label>
      <input placeholder="Nationality" type="text" name="nationality">
    </div>
    <input class="mini ui purple button" type="submit" name="submit" value="Change" />
  </form>
  <br/>
  <form action="/editprofile/editage" method="POST">
    <div class="field">
      <label>Age</label>
      <input placeholder="Age" type="text" name="age">
    </div>
    <input class="mini ui purple button" type="submit" name="submit" value="Change" />
  </form>
</section> 
