#{extends 'main.html' /}
#{set title:'Welcome to Spacebook' /}

<nav class="ui inverted green menu">
  <a class="ui item" href="/home"><i class ="purple home icon"></i>Home</a>
  <a class="ui item" href="/members"><i class ="purple users icon"></i>Members</a>
  <a class="ui item" href="/profile"><i class ="purple user icon"></i>Profile</a>
  <a class="ui active item" href="/leaderboard"><i class ="purple trophy icon"></i>Leaderboard</a>
  <a class="ui item" href="/logout"><i class ="purple sign out icon"></i>Logout</a>
</nav>
<div class="ui column">
  <h2>Leaderboard</h2>
  <table class="ui inverted green table segment">
    <thead>
      <tbody>
        #{list items: users, as:'user'}
        <tr>
          <td><i class="purple star icon"></i>&nbsp; ${user.firstName} ${user.lastName} (inbox-${user.inbox.size()}, outbox-${user.outbox.size()}, friends-${user.friendships.size()})</td>
        </tr>
        #{/list}
      </tbody>
    </table>
<div class="ui buttons">
  <a class="ui button" href="/leaderboard">Most Social</a>
  <div class="or"></div>
    <a class="ui button" href="/leaderboard/talkative">Most Talkative</a>
  </div>
</div>
  
  
        