#{extends 'main.html' /}
#{set title:'Home' /}

<nav class="ui inverted green menu">
  <a class="ui active item" href="/home"><i class ="purple home icon"></i>Home</a>
  <a class="ui item" href="/members"><i class ="purple users icon"></i>Members</a>
  <a class="ui item" href="/profile"><i class ="purple user icon"></i>Profile</a>
  <a class="ui item" href="/leaderboard"><i class ="purple trophy icon"></i>Leaderboard</a>
  <a class="ui item" href="/logout"><i class ="purple sign out icon"></i>Logout</a>
</nav>

<section class="ui segment">
  <h2 class="ui header">SpaceBook: Home page for ${user.firstName} ${user.lastName}</h2>
  <div class="ui two column grid segment">
    <div class="ui row">
      <div class="ui column">
        <h2>Friends</h2>
        <div class="ui list">
          <div class="item">
            <i class="right triangle icon"></i> <a href="/publicprofile/Marge">Marge</a>, (<a href="/home/Marge">drop</a>)
          </div>
          <div class="item">
            <i class="right triangle icon"></i> <a href="/publicprofile/Lisa">Lisa</a>, (<a href="/home/Lisa">drop</a>)
          </div>
          <div class="item">
            <i class="right triangle icon"></i> <a href="/publicprofile/Bart">Bart</a>, (<a href="/home/Bart">drop</a>)
          </div>
          <div class="item">
            <i class="right triangle icon"></i> <a href="/publicprofile/Maggie">Maggie</a>, (<a href="/home/Maggie">drop</a>)
          </div>
        </div>
      </div>
      <div class="ui column">
        <h2>Messages</h2>
        <div class="ui list">
          <div class="item">
            <i class="right triangle icon"></i> Marge says..."Hey there Homer, when are you going to work?"
          </div>
          <div class="item">
            <i class="right triangle icon"></i> Lisa says..."Move off the couch dad!"
          </div>
        </div>
      </div>
    </div>
  </div>
</section>