#{extends 'main.html' /}
#{set title:'Home' /}

<nav class="ui inverted green menu">
  <a class="ui active item" href="/home"><i class ="purple home icon"></i>Home</a>
  <a class="ui item" href="/members"><i class ="purple users icon"></i>Members</a>
  <a class="ui item" href="/profile"><i class ="purple user icon"></i>Profile</a>
  <a class="ui item" href="/leaderboard"><i class ="purple trophy icon"></i>Leaderboard</a>
  <a class="ui item" href="/logout"><i class ="purple sign out icon"></i>Logout</a>
</nav>

<section class="ui purple segment">
  <h2 class="ui header">SpaceBook: Home page for ${user.firstName} ${user.lastName}</h2>
  <div class="ui two column grid segment">
    <div class="ui row">
      <div class="ui column">
        <h2>Friends(${user.friendships.size()})</h2>
        <div class="ui list">
          #{list items:user.friendships, as:'friendship'}
            <div class="item">
              <i class="right triangle icon"></i>
              <a href="/publicprofile/${friendship.targetUser.id}"> ${friendship.targetUser.firstName} ${friendship.targetUser.lastName}</a>
              (<a href="/home/drop/${friendship.targetUser.id}"> drop </a>)
            </div>
          #{/list}
        </div>
      </div>
    <div class="ui column">
      <h2>Messages</h2>
      #{list items: conversations, as:'conversations'}
      <table class="ui inverted green table segment">
        <thead>
          <tbody>
            <tr>
            #{list items: conversations, as:'message'}
            <tr>
              <td><img class="ui avatar image" src="/profile/getpicture/${message.from.id}"></td>
              <td><a href="/publicprofile/${message.from.id}">${message.from.firstName}</a></td>
              <td>${message.messageText}</td>
            </tr>
            #{/list}
          </tbody>
        </table>
        #{/list}
        <div class="ui buttons">
          <a class="ui button" href="/home">By Date</a>
          <div class="or"></div>
          <a class="ui button" href="/home/byuser">By Sender</a>
          <div class="or"></div>
          <a class="ui button" href="/home/byconversation">By Conversation</a>
        </div>
      </div>
    </div>
  </div>
</section>