#{extends 'main.html' /}
#{set title:'Profile' /}

<nav class="ui inverted green menu">
  <a class="ui item" href="/home"><i class ="purple home icon"></i>Home</a>
  <a class="ui item" href="/members"><i class ="purple users icon"></i>Members</a>
  <a class="ui active item" href="/profile"><i class ="purple user icon"></i>Profile</a>
  <a class="ui item" href="/leaderboard"><i class ="purple trophy icon"></i>Leaderboard</a>
  <a class="ui item" href="/logout"><i class ="purple sign out icon"></i>Logout</a>
</nav>

<section class="ui segment">
  <h2 class="ui header">${user.firstName} ${user.lastName}'s Profile</h2>
  <h4 class="ui header">${user.email}</h4>
  <div class="ui two column grid segment">
    <div class="ui row">
      <div class="ui column">
        <p>
          <img src="/public/images/homer.gif" />
        </p>
        <form action="profile/upload" method="post" enctype="multipart/form-data">
          <input type="file" name="userfile" value="" /> <input type="submit" name="submit" value="upload" />
        </form>
      </div>
      <div class="ui column form segment">
        <form action="profile/changestatus" method="post">
          <h3 class="ui inverted teal block header">Enter Status</h3>
          <textarea class="ui field" name="profiletext"> </textarea>
          <input class="ui blue button" type="submit" name="submit" value="Change" />
        </form>
      </div>
    </div>
  </div>
</section>