#{extends 'main.html' /}
#{set title:'Members' /}

<nav class="ui inverted green menu">
  <a class="ui item" href="/home"><i class ="purple home icon"></i>Home</a>
  <a class="ui active item" href="/members"><i class ="purple users icon"></i>Members</a>
  <a class="ui item" href="/profile"><i class ="purple user icon"></i>Profile</a>
  <a class="ui item" href="/leaderboard"><i class ="purple trophy icon"></i>Leaderboard</a>
  <a class="ui item" href="/logout"><i class =" purple sign out icon"></i>Logout</a>
</nav>

<section class="ui segment">
  <h2 class="ui header">SpaceBook's Members</h2>
  <div class="ui list">
    <div class="item">
      <i class="right triangle icon"></i> Marge [<a href="/members/Marge">follow</a>]
    </div>
    <div class="item">
      <i class="right triangle icon"></i> Bart [<a href="/members/Bart">follow</a>]
    </div>
    <div class="item">
      <i class="right triangle icon"></i> Lisa [<a href="/members/Lisa">follow</a>]
    </div>
    <div class="item">
      <i class="right triangle icon"></i> Maggie [<a href="/members/Maggie">follow</a>]
    </div>
  </div>
</section>