#{extends 'main.html' /}
#{set title:'Members' /}

<nav class="ui inverted green menu">
  <a class="ui item" href="/home"><i class ="purple home icon"></i>Home</a>
  <a class="ui active item" href="/members"><i class ="purple users icon"></i>Members</a>
  <a class="ui item" href="/profile"><i class ="purple user icon"></i>Profile</a>
  <a class="ui item" href="/leaderboard"><i class ="purple trophy icon"></i>Leaderboard</a>
  <a class="ui item" href="/logout"><i class =" purple sign out icon"></i>Logout</a>
</nav>

<section class="ui left floated segment">
  <h2 class="ui header">SpaceBook's Members</h2>
  <div class="ui list">
    #{list items : users, as: 'user'}
      <div class="item">
        <i class="right triangle icon"></i> ${user.firstName} ${user.lastName} 
        <p> ${user.statusText} </p>
        <a href = "/members/follow/${user.id}"> (follow) </a>
      </div>
    #{/list}
  </div>
</section>
<section class="ui right floated segment">
  <img width=100% src="public/images/member.gif">
</section>