#{extends 'main.html' /}
#{set title:'Welcome to Spacebook' /}

<nav class="ui inverted green menu">
  <a class="ui item" href="/signup"><i class ="purple pencil icon"></i>  Signup  </a>
  <a class="ui item" href="/login"><i class ="purple sign in icon"></i>  Login   </a>
</nav> 

<section class="ui segment">
  <p> Signup or Log in to the Spacebook Service </p>
</section>
<img src="public/images/crowd.jpg">