#{extends 'main.html' /}
#{set title:'Login to Spacebook' /}

<nav class="ui inverted green menu">
  <a class="ui item" href="/signup"><i class ="purple pencil icon"></i> Signup  </a>
  <a class="ui active item" href="/login"> <i class ="purple sign in icon"></i> Login</a>
</nav> 

<section class="ui green form segment">
  <form action="/authenticate" method="POST">
    <div class="field">
      <label> Username: </label>
      <input type="text" name="email">
    </div>  
    <div class="field">
      <label>  Password: </label>
      <input type="password" name="password">
    </div>
    <button class="ui green submit button">Login</button>
  </form>
  <img class="ui huge right floated image" src="public/images/simpsons.jpg">
</section>