#{extends 'main.html' /}
#{set title:'Signup for Spacebook' /}

<nav class="ui inverted green menu">
  <a class="ui active item" href="/signup"><i class ="purple pencil icon"></i>Signup  </a>
  <a class="ui item" href="/login"><i class ="purple sign in icon"></i>  Login   </a>
</nav> 

<section class="ui segment">
  <p> Sign up here ... </p>
</section>

<section class="ui green form segment">
  <form action="/register" method="POST">
    <div class="two fields">
      <div class="field">
        <label>First Name</label>
        <input placeholder="First Name" type="text" name="firstName">
      </div>
      <div class="field">
        <label>Last Name</label>
        <input placeholder="Last Name" type="text" name="lastName">
      </div>
    </div> 
    <div class="field">
      <label>Email</label>
      <input placeholder="Email" type="text" name="email">
    </div>
    <div class="field">
      <label>Password</label>
      <input placeholder="Password" type="password" name="password">
    </div>
    <div class="field">
      <label>Nationality</label>
      <input placeholder="Nationality" type="text" name="nationality">
    </div>
    <div class="field">
      <label>Age</label>
      <input placeholder="Age" type="text" name="age">
    </div>
    <button class="ui green submit button">Submit</button>
  </form>
</section> 